.darkCard {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d; // 3D 변환을 유지
  transition: transform 1.2s; // 애니메이션 속도 설정
  // cursor: pointer;

  font-size: 26px;
  font-weight: 700;
  font-family: var(--font-whisper);

  // 클릭한 요소는 flipped 클래스가 없도록 설정
  &.flipped {
    transform: rotateY(180deg); // 카드가 뒤집힐 때의 변환
  }

  // 호버 상태에서 카드 뒤집기
  &:hover:not(.flipped) {
    transform: rotateY(180deg);
  }

  .front,
  .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; // 뒷면이 보이지 않게 설정
  }

  .front {
    background: #fff; // 앞면 색상
    display: flex;
    justify-content: center;
    align-items: center;
    color: #111;
    font-size: 24px;
  }

  .back {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    transform: rotateY(180deg); // 뒷면을 180도 회전하여 뒤집기
  }
}

@media (max-width: 700px) {
  .none_flipped {
    transform: rotateY(0deg); // 카드가 뒤집힐 때의 변환
  }

  .darkCard {
    &:hover:not(.flipped) {
      transform: rotateY(0deg);
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
